<div class="py-2"></div>

<div class="container" style="padding-top:66px;">
  <div class="row">
    <div class="col-lg-2 col-md-1"></div>
    <div class="col-lg-8 col-md-10">
      <div class="py-2"></div>
      <h4><small>Estudiantes del Colegio</small></h4>
      <div class="table table-responsive table-striped">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">Nombres</th>
              <th class="text-center">Grado</th>
              <th class="text-center">Género</th>
              <th class="text-center">Carrera</th>
              <th class="text-center">Evaluaciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of students; let i = index">
              <td class="text-center">{{student._id}}</td>
              <td class="text-center">{{student.name}}</td>
              <td class="text-center">{{student.degree}}</td>
              <td class="text-center">{{student.gender}}</td>
              <td class="text-center">{{student.career}}</td>
              <td class="text-center">{{student.evaluation}}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <div class="col-lg-2 col-md-1"></div>
  </div>
</div>