<div class="login-block">
  <div class="container">

    <div class="row" id="principal">
      <div class="col-md-3"></div>
      <div class="col-md-6 login-sec">

        <h2 class="text-center">Registro de Estudiante</h2>

        <div class="d-flex justify-content-center">
          <label class="text-secondary small">¿Tienes una Cuenta?</label>
          <a class="pl-2 small" routerLink="/login">
            Logearse
          </a>
        </div>

        <div class="py-3"></div>

        <div class="form-group">
          <label for="name">Nombres Completos:</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control form-control-sm"
            placeholder="Ingrese Nombres Completos"
            autocomplete="off"
            [(ngModel)]="user.name" />
        </div>
        <div class="form-group">
          <label for="school">Colegio:</label>
          <select
            id="school"
            class="form-control form-control-sm"
            [(ngModel)]="schoolIndexSelected">
            <option
              *ngFor="let school of schools; let i = index;"
              [value]="i"
              >{{school.name | slice:5}}
            </option>
          </select>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="code">Código Colegio:</label>
          <div class="col-sm-7">
            <input
              type="text"
              id="code"
              class="form-control form-control-sm bg-light"
              autocomplete="off"
              placeholder="Código del Colegio"
              [(ngModel)]="schoolCodeInput" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="degree">Grado:</label>
          <div class="col-sm-7">
            <select id="degree" class="form-control form-control-sm" [(ngModel)]="user.degree">
              <option
                *ngFor="let degree of degrees; let i = index;"
                [value]="degree"
                >{{degree}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label" for="gender">Género:</label>
          <div class="col-sm-7">
            <select id="gender" class="form-control form-control-sm" [(ngModel)]="user.gender">
              <option value="male">Masculino</option>
              <option value="female">Femenino</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="career">Carrera de Interés:</label>
          <select id="career" class="form-control form-control-sm" [(ngModel)]="user.career">
            <option
              *ngFor="let career of careers; let i = index;"
              [value]="career"
              >{{career}}
            </option>
          </select>
        </div>

        <div class="py-2"></div>
        <div class="form-group">
            <label for="user">Usuario:</label>
            <input
              type="text"
              id="user"
              name="username"
              class="form-control form-control-sm bg-light"
              autocomplete="off"
              placeholder="Ingrese su usuario, mayor a 8 caracteres"
              [(ngModel)]="user.username" />
        </div>

        <div class="form-group">
          <label for="psw">Contraseña:</label>
          <div class="input-group">
            <input
              type="{{passwordBlock? 'password': 'text'}}"
              id="psw"
              name="password"
              class="form-control form-control-sm bg-light"
              aria-describedby="inputGroup-sizing-sm"
              placeholder="Ingrese Contraseña"
              [(ngModel)]="user.password"
              (ngModelChange)="checkPassword()" />
              <span
                id="inputGroup-sizing-sm"
                class="badge badge-light"
                (click)="passwordBlock = !passwordBlock">
                <img
                  src="assets/icons.assets/eye-password{{passwordBlock? '-block': ''}}.ico"
                  alt="Icono Ojo" />
              </span>

          </div>
        </div>
        <div class="form-group">
          <label for="repsw">Confirmar Contraseña:</label>
          <div class="input-group">
            <input
              type="{{passwordBlock? 'password': 'text'}}"
              id="repsw"
              name="repassword"
              class="form-control form-control-sm bg-light"
              aria-describedby="inputGroup-sizing-sm"
              placeholder="Repita Contraseña"
              [(ngModel)]="repeatedPassword"
              (ngModelChange)="checkPassword()" />
              <span
                id="inputGroup-sizing-sm"
                class="badge badge-light"
                (click)="passwordBlock = !passwordBlock">
                <img
                  src="assets/icons.assets/eye-password{{passwordBlock? '-block': ''}}.ico"
                  alt="Icono Ojo" />
              </span>
          </div>
        </div>

        <div class="py-1"></div>

        <ul class="list-group">
        <label>Requisitos de Contraseña:</label>
          <li
            *ngFor="let passwordRequirement of passwordRequirements"
            class="list-group-item d-flex justify-content-between align-items-center p-2 small">
            {{passwordRequirement.message}}
            <span class="badge badge-{{passwordRequirement.condition? 'success' : 'danger'}} badge-pill">
              {{passwordRequirement.condition? '✔' : '✘'}}
            </span>
          </li>
        </ul>

        <div class="py-3"></div>

        <div class="d-flex justify-content-center">
          <input type="submit" class="btn btn-login btn-lg pl-5 pr-5" value="REGISTRARSE" (click)="registerUser()" />
        </div>

      </div>

      <div class="col-md-3"></div>
    </div>

  </div>
</div>
